<div class="table-container">
  <table
    mat-table
    *ngIf="dataSource.data?.length"
    [dataSource]="dataSource"
    matSort
    matSortActive="id"
    matSortDirection="desc"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td
        #id
        appCell
        mat-cell
        *matCellDef="let element; let i = index"
        [tabIndex]="i === 0 ? 0 : -1"
      >
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
      <td
        #name
        appCell
        mat-cell
        *matCellDef="let element; let i = index"
        [tabIndex]="i === 0 ? 0 : -1"
      >
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>*Статус</th>
      <td
        #status
        appCell
        mat-cell
        *matCellDef="let element; let i = index"
        [tabIndex]="i === 0 ? 0 : -1"
      >
        <app-cell-select
          label="Выберите статус"
          [options]="statuses"
          [selectedIndex]="element.status"
          [selectedValue]="element.statusValue"
          [editMode]="+(status?.getAttribute('editMode') || 0)"
        >
        </app-cell-select>
      </td>
    </ng-container>

    <ng-container matColumnDef="spentTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>*Потрачено часов</th>
      <td
        #spentTime
        appCell
        mat-cell
        *matCellDef="let element; let i = index"
        [tabIndex]="i === 0 ? 0 : -1"
      >
        <app-cell-input
          label="Сколько часов потрачено"
          type="number"
          [maxlength]="3"
          [value]="element.spentTime"
          [editMode]="+(spentTime?.getAttribute('editMode') || 0)"
        >
        </app-cell-input>
      </td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>*Комментарий</th>
      <td
        #comment
        appCell
        mat-cell
        *matCellDef="let element; let i = index"
        [tabIndex]="i === 0 ? 0 : -1"
      >
        <app-cell-input
          label="Текст комментария"
          [maxlength]="50"
          [value]="element.comment"
          [editMode]="+(comment?.getAttribute('editMode') || 0)"
        >
        </app-cell-input>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<p class="info">
  * Звездочкой отмечены редактируемые столбцы (ENTER - редактирование, ESC - отмена)
</p>
