<div class="table-container">
  <table
    mat-table
    *ngIf="dataSource.data?.length"
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td appCell mat-cell *matCellDef="let element; let i = index" [tabIndex]="i === 0 ? 0 : -1">
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
      <td appCell mat-cell *matCellDef="let element; let i = index" [tabIndex]="i === 0 ? 0 : -1">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
      <td
        appCell
        mat-cell
        editable
        editMode="false"
        *matCellDef="let element; let i = index"
        [tabIndex]="i === 0 ? 0 : -1"
      >
        {{ element.status }}
      </td>
    </ng-container>

    <ng-container matColumnDef="spentTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Списано часов</th>
      <td
        appCell
        mat-cell
        editable
        editMode="false"
        *matCellDef="let element; let i = index"
        [tabIndex]="i === 0 ? 0 : -1"
      >
        {{ element.spentTime }}
      </td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Списано часов</th>
      <td
        appCell
        mat-cell
        editable
        editMode="false"
        *matCellDef="let element; let i = index"
        [tabIndex]="i === 0 ? 0 : -1"
      >
        {{ element.comment }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
