.table-container {
  max-height: 85vh;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;

  th {
    color: lightsalmon;
    padding-left: 2em;
    padding-right: 1em;
  }

  td {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 1em;
  }
}

.mat-row {
  height: 8em;
}

.mat-cell:focus {
  border: 2px solid #c2185b !important;
}

.info {
  margin-top: 1em;
  margin-left: 1em;
  font-size: 1em;
  color: midnightblue;
}

.mat-column-id {
  width: 5%;
}

.mat-column-name {
  width: 20%;
  color: bisque;
}

.mat-column-status {
  color: gainsboro;
  width: 20%;
}

.mat-column-spentTime {
  width: 20%;
}

.mat-column-comment {
  width: 20%;
}
